altgraph==0.17
asgiref==3.3.1
certifi==2020.4.5.2
cffi==1.14.4
chardet==3.0.4
clock==0.1
comtypes==1.1.7
dj-database-url==0.5.0
Django==3.1.5
django-crispy-forms==1.11.0
django-heroku==0.3.1
gunicorn==20.0.4
idna==2.9
importlib-metadata==3.4.0
Jinja2==2.11.2
Pillow==7.1.2
protobuf==3.6.1
psycopg2==2.8.6
PyScreeze==0.1.26
python-dateutil==2.8.1
python-decouple==3.4
PyTweening==1.0.3
pytz==2020.1
requests==2.23.0
sqlparse==0.4.1
tqdm==4.55.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.9
whitenoise==5.2.0
